<oai:record>
   <oai:header>
      <oai:identifier>oai:worldcat.org:$id</oai:identifier>
      <oai:datestamp>$date</oai:datestamp>
   </oai:header>
   <oai:metadata>
      <olac:olac>
         <dc:title>Worldcat.org subject search for "$subject_heading"</dc:title>
         <dcterms:extent>$hits results</dcterms:extent>
         <dc:description xsi:type="dcterms:URI">$url</dc:description>
         <dc:subject xsi:type="dcterms:LCSH">$subject_heading</dc:subject>
         <dc:subject xsi:type="olac:language" olac:code="$code"/>
      </olac:olac>
   </oai:metadata>
</oai:record>
