<oai:record>
   <oai:header>
      <oai:identifier>oai:worldcat.org:$id</oai:identifier>
      <oai:datestamp>$today</oai:datestamp>
   </oai:header>
   <oai:metadata>
      <olac:olac>
         <dc:title>Worldcat.org search for "$query"</dc:title>
         <dcterms:extent>$extent results</dcterms:extent>
         <dc:description xsi:type="dcterms:URI">$link</dc:description>
         <dc:subject xsi:type="olac:language" olac:code="$code"/>
      </olac:olac>
   </oai:metadata>
</oai:record>
